.home-hero {
    height: 100vh;
    background-image: url('../../../../public/bghome.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
    color: white;
}

.home-overlay {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.home-hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #4e2a84;
}

.home-hero p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #3d1c72;
}

.home-btn:hover {
    background-color: #6b3fc9;
    color: white;
}