
<div class="bg-dark text-light">
  <app-navbar></app-navbar>
<router-outlet></router-outlet>
</div>
























<!-- <div class="text-center m-auto w-75">
  <input [(ngModel)]="search" class="form-control" type="text" name="" id="">

  <h3 class="mt-4"> {{search}} </h3>
</div> -->
<!--  -->

<!-- <h3 *ngIf="isDisabled">Hello</h3>
<div *ngFor="let i of users ">Hi</div> -->

<!--angular v17=> control flow [@for loop @empty, @if, @else, @else if(), @switch @case @default]-->

<!-- <div class="row m-5 g-3">

 @for (item of users; track $index) {
  
 <div class="col-md-4">
    <div class="bg-info"> -->
      <!-- {{$index}} -->
      <!-- {{$count}} -->
       <!-- {{$last}} -->
       <!-- {{$odd}} -->

        <!-- <h3> {{item.name}} </h3>
        <p> {{item.age}} </p>
        <p> {{item.salary}} </p>
        <p>
          @for (comment of item.comment; track $index) {
            <p> {{comment.title}} </p>
             <p> {{comment.user}} </p>
          }
        </p>
    </div>
  </div>
  
}
@empty {
<div class="alert alert-danger">This array is empty</div>
}
 -->


<!-- <button (click)="changeRole()" class="btn btn-info">change role</button> -->


<!-- @if (role=="user") {

  <div class="alert alert-success">
    Hello User
  </div>

}@else if (role=="admin") {
  <div class="alert alert-danger">
    Hello Admin
  </div>
}@else {
  <div class="alert alert-secondary">
    This role isn't allowed
  </div>
} -->




<!-- 
@switch (role) {
  @case ("admin") {
     <div class="alert alert-danger">
    Hello Admin
  </div>
  }
  @case ("user") {
     <div class="alert alert-success">
    Hello User
  </div>
  }
 @default {
   <div class="alert alert-secondary">
    This role isn't allowed
  </div>
 }
}

</div> -->

